*, *:before, *:after {
  font-family: 'Cairo', sans-serif;
  font-weight:0;
  font-style:normal;
}
body {
  font-family: 'Cairo', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  h1 {
    display: inline-block;
    color: #2f2f62;
    font-size: 50px;
	margin: 0;
	padding: 0;
  }
  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
}

div {
	dir: rtl;
}

.persistent-header-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.persistent-header-text {
  text-align: center;
  max-height: 100%;
}

.header-hub-icon {
  height: 50px;
  position: relative;
  top: 17px;
  right: 10px;
  max-height: 10%;
  max-width: 10%;
}

.header-link-to-aktashif-org {
  margin: 30px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  font-size: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.header-hub-icon-container {
  display: inline-block;
  float: right;
  max-height: 100%;
	position: absolute; /*newly added*/
  right: 5px; /*newly added*/
  top: 5px;
}

.header-profile-image-container {
  display:inline-block;
  float: left;
  max-height: 10%;
}

.header-profile-image {
	height: 50px;
  position: relative;
  top: 17px;
  left: 10px;
}

.profile-books-container {
  display: flex;
  justify-content: space-around;
}

section {
 padding: 20px;
}

.hub-grid {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.hub-homescreen-image-container {
  display: inline-block;
  max-width: 40%;
  max-height: 200px;
  width: auto;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 100px;
  padding: 15px;
}

.hub-homescreen-image {
	min-width: 50%;
  max-width: 50%;
  max-height: 50%;
  min-height: 50%;
  cursor: pointer;
  margin: auto;
}

.hub-homescreen-image-caption {
  font-size: 30px;
}

.cluster-grid {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin-top: 10%;
}

.cluster-icon-container {
  display: inline-block;
  // max-height: 200px;
  // width: auto;
  // margin-left: 7px;
  // margin-right: 7px;
  // margin-bottom: 100px;
  // padding: 15px;
}

.cluster-icon {
  width: auto;
  height: auto;
  cursor: pointer;
  margin: auto;
  padding: auto;
}

.cluster-icon-caption {
  font-size: 30px;
}

.contact-us {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center
}

.cluster-title {
    text-align: center;
    font-family: "Avenir";
    color: coral;
}

.cluster-description {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 150%;
    background-color: #bae0cd;
    border-radius: 10px;

}

.cluster-landing-book-image-container {
    display: inline-block;
    padding: 5%;
    width: auto;
}

.cluster-landing-book-image {
  max-height: 300px;
    max-width: 300px;
    cursor: pointer;
    border-radius: 15px;
}

.cluster-landing-book-title {
    font-size: 150%;
    max-height: 50px;
}

.cluster-landing-book-author {
    font-size: 100%;
}

.hub-banner {
  .hub-banner-description {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
	  font-size: 50px;
	  max-width: 75%;
  }

  .hub-banner-icon-container {

    .hub-banner-icon {
	    max-width: 30%;
      max-height: 40%;
      width: auto;
      height: auto;
    }

    .hub-banner-icon-title {
      font-size: 100%;
    }
  }
}

.profile-welcome {
 	align-self: center;
  font-size: 150%;
  background-color: #D59E2A;
}

.profile-image-container {
  padding-left: 7px;
  padding-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.facebook-login {
	margin: 30px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s, border-color .3s;
  background-color: #4C69BA;
  border-color: #4C69BA;
  padding: 4px;
  // padding: calc-responsive(15, 468, 20, 1920) calc-responsive(20, 468, 25, 1920);
}

.header-profile-image {
  margin-top: 15px;
  margin-left: 15px;
}

.profile-book-image {
  height: 75%;
  max-height: 100%;
  max-width: 100%;
}

.profile-trophy-image {
  height: 75%;
  max-height: 100%;
  max-width: 100%;
}

.profile-book-caption {
  font-size: 250%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.profile-trophy-caption {
  margin: 0;
  padding: 0;
  font-size: 250%;
  text-align: center;
}

.profile-books-title {
  font-size: 250%;
  margin-right: 3%;
}

.profile-trophies-title {
  font-size: 250%;
  margin-right: 3%;
}

.book-page {
	margin-left: 10%;
	margin-right: 10%;
	max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	font-size: 3vw;
}

.book-navigation {
	font-size: 20px;
}

.book-navigation-text {
	font-size: 20px;

}

.book-navigation-button {
	background-color: transparent;

}


input[type=range] {
	direction: rtl;
}

button {
  display: inline-block;
  appearance: none;
  box-shadow: none;
	border-width: 0px;
  background: rgba(0,0,0,0);
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__header__dropdown--select {
  margin-top: -16px;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}

.react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
}
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}
.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc;
}
.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__month-container {
  display: inline;
  float: left;
}

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__day {
  cursor: pointer;
}
.react-datepicker__day:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}
.react-datepicker__day--today {
  font-weight: bold;
}
.react-datepicker__day--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}
.react-datepicker__day--highlighted:hover {
  background-color: #32be3f;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}
.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: 0.3rem;
}
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: 0.45rem;
}
.react-datepicker__year-read-view--selected-year {
  right: 0.45rem;
  position: relative;
}

.react-datepicker__year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}
.react-datepicker__year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}

.bookmark-button {
  margin-right: 30px;
  margin-top: 10px;
}
