*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #94c2ab;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
}

section {
 padding: 20px;
}

.persistent-header {
  margin: auto;
}

.persistent-header-text {
  text-align: center;
  width: 100%;
}

.hub-grid {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.hub-homescreen-image-container {
  display: inline-block;
  max-width: 50%;
  max-height: 30%;
  width: auto;
}

.hub-homescreen-image {
  max-width: 100%;
  cursor: pointer;
  margin: auto;
  padding: 5%
}

.hub-homescreen-image-caption {
  font-size: 200%;
}


.hub-banner {
  .hub-banner-description {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
  }

  .hub-banner-icon-container {

    .hub-banner-icon {
      max-width: 40%;
      max-height: 40%;
      width: auto;
      height: auto;
    }
  }
}
